<div class="wrapper">
   <h1>LOL - Lavanderia On-line</h1>
   <h2>Entrar</h2>
   <form action="#">
       <div class="input-box">
           <input type="text" placeholder="Email" required>
       </div>

       <div class="input-box">
           <input type="text" placeholder="Senha" required>
       </div>

       <div class="input-box button">
           <input type="Submit" value="Entrar">
       </div>
       <div class="text">
           <!-- <h3>Já tem uma cadastro? <a [routerLink]="['/login']">Login</a></h3> -->
           <h3>Não possui uma conta? <a href="/autocadastro">Registre-se</a></h3>
       </div>
   </form>
 </div>
