.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid #ccc;
}
  .container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  
  .textbox {
    margin: 0;
  }
  .p {
    margin-top: 10px;
    text-align: center;
  }
  .input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  .containermt-4 {
    max-width: 100%;
  }
  .row {
    width: 30%
  }
