<div class="header bg-gradient-danger pb-7 pt-12 pt-md-7"></div>

<div class="container-fluid mt--7">

  <div class="row mt-5">
    <div class="col">
      <div class="card bg-default shadow">
        <div class="card-header bg-transparent border-0">
          <h3 class="text-white mb-0">Pedidos Abertos</h3>
        </div>

        <div class="table-responsive">
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th class="text-center" scope="col">Cabeçalho 1</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="text-center" scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">ID do Pedido</span>
                    </div>
                  </div>
                </th>
                <td class="text-center">Data</td>
                <td class="text-center">Prazo</td>
                <td class="text-center">Status</td>
                <td class="text-center">Preço</td>
                <td class="text-center">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deseja recolher?</h5>
        <button type="button" class="close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success float-right">Confirmar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </div>
</div>
